* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.background-props {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.tour-country {
  height: 304px;
  width: 236px;
  background-color: rgb(163, 188, 188);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info-holder {
  width: 80%;
  height: 50%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.israel {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../images/tour/tour-01.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/tour/tour-01.jpg);
}

.usa {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../images/tour/tour-02.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/tour/tour-02.jpg);
}

.austrailia {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../images/tour/tour-03.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/tour/tour-03.jpg);
}

.newz {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../images/tour/tour-04.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/tour/tour-04.jpg);
}

.france {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../images/tour/tour-05.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/tour/tour-05.jpg);
}

.egypt {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../images/tour/tour-06.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/tour/tour-06.jpg);
}

.japan {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../images/tour/tour-07.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/tour/tour-07.jpg);
}

.canada {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../images/tour/tour-08.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/tour/tour-08.jpg);
}

.uae {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../images/tour/tour-09.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/tour/tour-09.jpg);
}

.tours .hero {
  max-width: 980px;
  height: 200px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../images/tour/tours-header.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/tour/tours-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: #fff;
  margin: 0 auto;
  margin-top: 48px;
}
.tours .hero .callout h1 {
  font-family: "Proxima Nova thin", sans-serif;
  font-size: 60px;
  letter-spacing: 10px;
  text-transform: uppercase;
}
.tours .countrys {
  max-width: 818px;
  min-height: 304px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 54px auto 0 auto;
}
.tours .countrys .new h1 {
  font-size: 45px;
  font-family: "Proxima Nova Thin", sans-serif;
}
.tours .countrys h1 {
  font-size: 45px;
  font-family: "Proxima Nova Thin", sans-serif;
}
.tours .countrys p {
  font-size: 25px;
  font-family: "Proxima Nova Thin", sans-serif;
}
.tours .countrys span {
  background-color: #79addc;
  padding: 10px 30px;
  border-radius: 25px;
  font-size: 15px;
  font-family: "Gill Sans", sans-serif;
}
.tours .countrys span a {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 600px) {
  .tours {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .tours .countrys {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: -45px;
  }
  .tours .countrys .tour-country {
    margin-bottom: 35px;
  }
}
@media (max-width: 800px) {
  .tours {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .tours .countrys {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: -45px;
  }
  .tours .countrys .tour-country {
    margin-bottom: 35px;
  }
}
nav {
  max-width: 980px;
  margin: 0 auto;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: solid black 2px;
}
nav .logo {
  width: 100px;
  height: 50px;
}
nav .links a {
  text-decoration: none;
  margin-left: 20px;
  color: #000000;
  font-size: 15px;
  font-family: "Gill Sans", sans-serif;
  border-right: 2px solid #79addc;
  padding-right: 14px;
}

@media (max-width: 600px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 480px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .links {
    margin-bottom: 5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 50%;
  }
}
@media (max-width: 800px) {
  nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer-holder {
  position: absolute;
  z-index: 99;
  width: 100%;
  width: 1280px;
  height: 100px;
  background-color: #79addc;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  left: 95px;
  margin-top: 100px;
}
.footer-holder .logo img {
  width: 92px;
  height: 42px;
  float: left;
  margin-top: 30px;
  padding-left: 10px;
}
.footer-holder .copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: #fff;
  -ms-flex-line-pack: center;
      align-content: center;
  font-family: "Gill Sans", sans-serif;
}
.footer-holder .copy span {
  font-size: 12px;
  text-align: center;
  margin-top: 30px;
  font-family: "Gill Sans", sans-serif;
}
.footer-holder .icon {
  font-size: 22px;
  float: right;
  padding-right: 31px;
  margin-top: 30px;
}

@media (max-width: 600px) {
  .footer-holder {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    left: 0px;
  }
}
@media (max-width: 480px) {
  .footer-holder {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    left: 0px;
  }
}
@media (max-width: 800px) {
  .footer-holder {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    left: 0px;
  }
}
@media (max-width: 992px) {
  .footer-holder {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    left: 0px;
  }
}
@media (max-width: 1200px) {
  .footer-holder {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    left: 0px;
  }
}