.background-props{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.tour-country{
    height: $tour-banner-heigh;
    width: $tour-banner-width;
    background-color: rgb(163, 188, 188);
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-holder{
    width: 80%;
    height: 50%;
    color: $site-white;
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        
}



.israel{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/tour/tour-01.jpg);
}

.usa{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/tour/tour-02.jpg);
}

.austrailia{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/tour/tour-03.jpg);

}

.newz{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/tour/tour-04.jpg);
}

.france{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/tour/tour-05.jpg);
}

.egypt{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/tour/tour-06.jpg);
}

.japan{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/tour/tour-07.jpg);
}

.canada{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/tour/tour-08.jpg);
}

.uae{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/tour/tour-09.jpg);
}

