// site dimensions
$content-width: 980px;
$nav-footer-height: 100px;

// site colors
$site-background: #79addc;
$site-width: 1280px;
$hero-height: 200px;
$site-nav-width: 980px;
$site-nav-height: 90px;
$site-footer-width: 1280px;
$site-footer-height: 100px;
$tour-banner-heigh: 347px;
$tour-banner-width: 298px;



//Site Colors

$site-white: #fff;
$site-blue: #79addc;
$site-black: #000000;