
.background-props{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;



}


.tour-component{

    height: $tour-banner-heigh;
    width: $tour-banner-width;
    background-color: rgb(163, 188, 188);
    display: flex;
    align-items: center;
    justify-content: center;
    

}
    .info-holder{

        width: 80%;
        height: 50%;
       color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

    }
    

    .israel{
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/tour/tour-01.jpg);
    }
    
    .usa{
    
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/tour/tour-02.jpg);
    }
    
    .austrailia{
    
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/tour/tour-03.jpg);
    }




    @media (max-width: 800px) {

        .tour-component{
    
           margin-bottom: 20px; // cuando se cambia el size de la pantalla hay un espacin de abajo que separa las imagenes
           .info-holder{

            font-size: 170%;
           }
        }
        
    }

    //lista
    @media (max-width: 600px) {

        .tour-component{
    
           margin-bottom: 20px; // cuando se cambia el size de la pantalla hay un espacin de abajo que separa las imagenes
        }
        
    }


