
// Site structure variables
$site-width: 1280px;
$hero-height: 500px;
$site-nav-width: 980px;
$site-nav-height: 90px;
$site-footer-width: 1280px;
$site-footer-height: 100px;



//Site Colors

$site-white: #fff;
$site-blue: #79addc;
$site-black: #000000;


//Tour Banners

$tour-banner-heigh: 304px;
$tour-banner-width: 236px;

//Botton widths



$site-nav-font: "Gill Sans", sans-serif;